<form>
    <h2>Add a Food</h2>
    <input type="text" name="food">
    {% if items %}
        {% for item in items %}
            <input type="hidden" name="food" value="{{item}}">
        {% endfor %}
    {% endif %}
    <button>Add</button>

    {% if items %}
        <br>
        <br>

        <h2>Shopping List</h2>
        <ul>
            {% for item in items %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    {% endif %}

<!--     <h2>Hello, {{name}}</h2> -->

<!--     {% if n == 1%}
        n equals 1
    {% else %}
        n does not equals 1
    {% endif %} -->

<!--     <ol>
        {% for x in range(1, n+1) %}
            <li>{{x ** 2}}</li>
        {% endfor %}
    </ol> -->
    
</form>